@import url("global.css");

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../assets/img/icons/header.svg");
}

.header .photo {
    flex-grow: 1;
    width: 200px;
    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.header .photo:active {
    transform: scale(1.25) translateY(1rem);
    border-radius: 25%;
    transition: all 1s ease-in-out;
}

.header .title {
    z-index: 2;
    font-family: 'Carter One', cursive;
    text-align: center;
}

.information {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.information p::before {
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.information p.job::before {
    background-image: url("../../assets/img/icons/job.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.information p.location::before {
    background-image: url("../../assets/img/icons/location.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.information p.phone::before {
    background-image: url("../../assets/img/icons/phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.information p.email::before {
    background-image: url("../../assets/img/icons/mail.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
        "photo title"
        "photo information"
        ;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    .header .photo {
        margin: 0 auto;
        grid-area: photo;
    }
    
    .header .photo:active {
        transform: scale(1.125);
        border: 10%;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 240px;
    }

    .header .information {
        grid-area: information;
    }

}