.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.languages li::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/img/icons/checked.svg');
    margin-right: .5rem;
}